---
// src/layouts/BlogPost.astro
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import { BASE_URL } from "../consts";

const { title, description, pubDate, heroImage } = Astro.props;

const getData = async () => {
    try {
        const res = await fetch(`${BASE_URL}/api/page-4?populate=*`);
        const json = await res.json();
        return json;
    } catch (error) {
        return null;
    }
};
const data = await getData();
const contentEditio = data?.data.install_editor;
const contentEditio2 = data?.data.bottom_intsall_editior;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Radiogoldinformation page-4</title>
        <meta
            name="description"
            content="Radiogoldinformation Radiogoldinformation"
        />
        <BaseHead />
    </head>
    <body>
        <section
            class="content-section"
            style="background-color: #F3F5F8;"
            data-aos="fade-up"
        >
            <div class="container">
                <div class="full-box" set:html={contentEditio} ></div>
            </div>
        </section>

        <section class="note-section" id="contact" data-aos="fade-up">
            <div class="container">
                <div class="bootom-editor" set:html={contentEditio2}></div> </div>
            </div>
        </section>
        <a
            class="fixedButton"
            href="https://radiogoldin.library.umkc.edu/"
            target="_blank">Enter The Digital Deli Too</a
        >
        <a href="/page5" id="myBtn" title="Scroll Up"> Continue </a>
        <main>
            <slot />
        </main>
    </body>
</html>
